<header class="header">
  <div class="logo" routerLink="/">Soproma</div>
  <nav>
    <a routerLink="/">მთავარი</a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">შესვლა</a>
      <a routerLink="/register">რეგისტრაცია</a>
    </ng-container>


    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/profile">პროფილი</a>
      <a routerLink="/addCar">მანქანის დამატება</a>
      <a href="javascript:void(0);" (click)="logout($event)">გასვლა</a>
    </ng-container>
  </nav>
</header>
