button{
  cursor: pointer;
}
.car-card {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background: rgba(255, 255, 255, 0.63);
  text-align: center;
  font-family: Arial, sans-serif;
}

.model {
  color: gray;
  font-size: 0.9rem;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details {
  display: flex;
  font-size: 0.8rem;
  margin: 10px 0;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
  color: green;
}

.footer button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 28px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

span{
  display: flex;
  align-items: center;
}

span img{
  width: 1.5rem;
}