
<div class="Cards">
    <div class="card">
        <h1>საუკეთესო პლატფორმა</h1>
        <h2>მანქანის საქირავებლად</h2>
        <p>მანქანის ქირაობა ასეთი ადვილი არასდროს ყოფილა.</p>
        <button class="btn">იქირავე</button>
        <img class="car-img" src="../../assets/images/car1.png" alt="car">
    </div>
    <h1>Soproma</h1>
    <div class="card2">
        <h1>მანქანის ქირაობა</h1>
        <h2>ასეთი ადვილი არასდროს ყოფილა</h2>
        <p>იქირავე მანქანა სასურველ ფასში სასურველი დროით</p>
        <button class="btn">იქირავე</button>
        <img class="car-img" src="../../assets/images/car2.webp" alt="car">
    </div>
</div>

<app-car-card></app-car-card>